@model TaskManagementSystem.Models.ProjectClasses.NotificationManager

<ul>
    @if (Model != null)
    {
       
        <li>Date Creates: &nbsp;@Model.DateCreated</li>
        <li>Comment: &nbsp;@Model.Comment</li>
        <li>Developer Name: &nbsp;@Model.ProjectManager.UserName</li>
 
    }
</ul>

<li> @Html.ActionLink("back To Notifications", "ManagerNotifications", "ProjectManager", new { UserId = Model.ProjectManagerId}, null)</li>