@model TaskManagementSystem.Models.ProjectClasses.NotificationManager

<h2 class="centerText">Notification Detail</h2>

<br />
<br />
<div class="Detail">
    <div>
        @if (Model != null)
        {
            <div>Date Created: &nbsp;@Model.DateCreated</div>
            <div>Comment: &nbsp;@Model.Comment</div>
            <div>Manager Name: &nbsp;@Model.ProjectManager.UserName</div>       
            <div>Notification For Project:&nbsp; @Model.ProjectId</div>

        }
    </div>
    <br />   <br />

    @Html.ActionLink("Back To Notifications", "ManagerNotifications", "ProjectManager", new { UserId = Model.ProjectManagerId }, null)
</div>