@model TaskManagementSystem.Models.ProjectClasses.NotificationDev

<h2 class="centerText">Notification Detail</h2>

<br /><br/>
      <div class="Detail">
          <div>
              @if (Model != null)
              {
                  <br />
                  <div>Date Created: &nbsp;@Model.DateCreated</div>
                  <div>Comment: &nbsp;@Model.Comment</div>
                  <div>Developer Name: &nbsp;@Model.Developer.UserName</div>
                  <div>Notification For Task :@Model.DevTaskId</div>

              }
          </div>
          <br />   <br />

          @Html.ActionLink("back To Notifications", "DeveloperNotifications", "Developer", new { UserId = Model.DeveloperId }, null)
      </div>